.above-buttons{
    display: flex;
    
    width: 100%;
    margin: 20px auto;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.above-buttons div{
    border: 1px solid;
    height: 100%;
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.391);
}
.above-buttons p{
    margin-bottom: 0;
    font-size: 8px;
    color: black;
    
}
.above-buttons img{
    margin-top: 10px;
    width:60%;

}



  .m-btn-container {
    display: flex;
    justify-content: center;
  }
  
  .m-btn {
    position: relative; /* Изменено на относительную позицию */
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: 1px black;
    
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* Убираем блик при фокусировке */
    width: 60px; /* Ширина кнопок */
    height: 50px; /* Высота кнопок */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .m-btn img {
    width: 60%; /* Ширина изображения */
    height: auto; /* Высота изображения будет автоматически подстраиваться */
    border-radius: 50%; /* Округление углов для круглой иконки */
  }
  
  .m-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }
  
  .m-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    display: none;
  }
  
  .m-content {
    position: relative;
    z-index: 3; /* Контент будет поверх всего */
    padding: 20px;
    background-color: #726f6f; /* Фоновый цвет для страницы с текстом */
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Максимальная ширина текстового блока */
    height: 100%;
    max-height: 100%;
    overflow: auto;
  }
  
  
  
  
  .m-close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 21;
    color: red;
  }
  
  .m-popup-open {
    display: flex;
    animation: slideIn .2s ease-out;
  }
  
  .m-popup-close {
    animation: fadeOut .2s ease forwards ;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(100%);
  opacity: 0.5;
    }
    to {
      transform: translateY(0);
     opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  